/* start navbar styles */
.nav {
  padding: 10px;
}
.nav-wrapper {
  border-bottom: 1px solid var(--first-color);
}
.navicon{
    font-weight: 500;
    color: var(--first-color) !important;
}
.nav-link{
    color: var(--first-color) !important;
}
.navbar_sign-in{
    color: var(--first-color);
    font-weight: 500;
    margin-right: 10px;
}
.register_icon{
    font-weight: 500;
    font-size: 25px;
}
/* End navbar styles */
