/* start features styles */

.features {
  padding: 20px;
  width: 100%;
  margin: 10px 0px;
}

.features-wrapper {
  padding: 30px;
  background-color:var(--section-bg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

/* end features styles */
